body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
}

.container{
    width: 93%;
    height: auto;
    background-color: bisque;
    padding: 20px;
    margin-bottom: 10px;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
}

input{
    width: 30%;
    padding: 10px;
    border: none;
    font-size: 12px;
    margin: 5px;
}

button{
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
}

#resultat{
    width: 40%;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

h1{
    font-size: 25px;
    text-align: center;
}

.content-formule , .content-exemple{
    width: 100%;
    display: flex;
    justify-content: center;
}

.formule{
    width: 30%;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 5px 5px 0px 0px #000000
    ;
}

.exemple{
    width: 30%;
    margin: 0 20px;
    background-color: #fff;
    color: #000;
    text-align: center;
}